



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    line-height: 1.5em;
    padding: 25px;
}
body, html{
    height: 100%;
    margin: 0;
}
.btn{
    border: 2px solid black;
    background-color: white; 
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;

}
.volgende{
    border-color: white;
    color: white;
    background-color: transparent;
}
.volgende:hover{
    background-image: element('images/desert.jpg');
    
}
.volgende{
    border-color: black;
    color: black;
}
.volgende:hover{
    background-image: image("images/desert.jpg");
}

.foto{
padding-left: 500px;
padding-top: 50px;
} 

.werchter, line up{
    max-width: 100%;
    
}

.division1 {
    background-color: #d3d3d3;
    width: 500px;
    height: 600px;
    border: 25px white;
    padding: 25px;
    margin: 25px;
}
.division2 {
    background-color: #d3d3d3;
    width: 500px;
    height: 600px;
    border: 25px white;
    padding: 25px;
    margin: 25px;
}
.division3 {
    background-color: #d3d3d3;
    width: 500px;
    height: 600px;
    border: 25px white;
    padding: 25px;
    margin: 25px;
}
.division4 {
    background-color: #d3d3d3;
    width: 500px;
    height: 600px;
    border: 25px white;
    padding: 25px;
    margin: 25px;
}
.division5 {
    background-color: #d3d3d3;
    width: 300px;
    height: 400px;
    border: 25px white;
    padding: 25px;
    margin: 25px;}


.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: auto;
}

/*create for equal columns that sits next to each other */
.column{
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes two columns instead of four column */
@media screen and (max-width: 800px) {
    .column{
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* responsive layout - makes two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px){
    .column{
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


h1{
    text-align: center;
    text-decoration-color:grey;
    color: #D657C9;
    font-size: 50px;
    font-family: "Hind", Bold, serif; 
    margin: auto;
    padding-top: 20px;
}
h2{
    text-align: left;
    text-decoration-color:grey;
    color: #D657C9;
    font-size: 50px;
    font-family: 'Hind', Bold, serif; 
}
h3{
    color: black;
    text-align: left;
    font-family: hind, sans-serif;
    font-size: 30px;
    font-family: 'Hind', Bold, Serif;
}
h4{
    color: black;
    text-align: left;
    font-family: 'Hind', Bold, serif; 
    font-size: 20px;
}
p{
    text-align: left;
    color: black;
    font-family: 'Arial', serif;
    font-size: 14px;
    margin: auto;
    
}



/*content*/
div.container {
    width: 1000px;
    border-left: 0.5px solid #d3d3d3;
    border-right: 0.5px solid #d3d3d3 ;
    margin:0 auto;
    background-color: #d3d3d3;
}

.topnav{
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 500px;
    padding-left: 100px;
    float: right;

}

.topnav a{
    float: left;
    color: #d3d3d3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
  border-bottom: 2px solid #D657C9;
}

.icon-bar {
    position: fixed;
    top: 50%;
}

.icon-bar a{
    display: block;
    text-align: center;
    padding: 16x;
    transition: all 0.3 ease;
    color: white;
    font-size: 20px;
}

.fa{
    padding: 20px;
    font-size: 60px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook, .fa-twitter, .fa-snapchat, .fa-instagram{
    background: #000000;
    color: white;
    padding: 10px;
    margin: 5px;
}









