



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}
body, html {
    height: 100%;
}

/* The festival image */
header-image {
    /* The image used */
    background-image: url("mdmfestival.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
header-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.division1 {
    background-color: lightblue;
    width: 500px;
    height: 600px;
    border: 25px white;
    padding: 25px;
    margin: 25x;
}

.img{
    float: right;
    width: 200;
    height: 100;
}



h1{
    text-align: center;
    text-decoration-color:grey;
    color: #D657C9;
}
h3{
    color: black;
    text-align: center;
}
h4{
    color: black;
    text-align: left;
}
p{
    text-align: center;
    color: black;
}

/*content*/
div.container {
    width: 900px;
    border-left: 0.5px solid lightblue;
    border-right: 0.5px solid lightblue;
    margin:0 auto;
    background-color: white;
}







