body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */
* {
    box-sizing: border-box;
}

.col-3{width: 30%;}
.col-4{width: 30%;}
.col-5{width: 30%;}
.col-6{width: 30%;}
.col-9{width: 30%;}
.col-27{width: 30%;}

[class*="col-"]{
    float: left;
    padding: 100px;
    border: 1px solid black;
}

h1{
    text-align: center;
    text-decoration-color:grey;
    color: white;
}
h3{
    color: black;
    text-align: center;
}
p{
    text-align: center;
    color: black;
}
header{
    overflow: hidden;
    background-color:pink;
    text-align: left;
    padding: 20px;
    width: 100%;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}
